<%= brain_form_for(@provider) do |f| %>
  	<% if @provider.errors.any? %>
	  <div class="nNote nFailure hideit">
		  	<% @provider.errors.full_messages.each do |msg| %>
		    <p><%= msg %></p>
		  	<% end %>
	  </div>
	<%end%>
  <%= f.text_field :name %>
  <%= f.text_field :rtmp_url %>
  <%= f.text_area :description %>
    <%= f.submit "Add your emitter"%>
<% end %>
