<%= bootstrap_form_for(@provider, html: { class: 'form-horizontal' }, help: :block) do |f| %>
  <% if @provider.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :rtmp_url %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.primary "Add your emitter"%>
  </div>
<% end %>
