<% if notice %><div class="alert alert-info"><%= notice %></div><% end %><%= notice %></p>

<h1><%= @provider.name %></h1>

<p>
  <b>Description:</b>
  <%= mdrender.render(@provider.description).html_safe %>
</p>


<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_provider_path(@provider) , :class => "btn btn-primary"%>
<% end %>