<%= form_for(@index_page) do |f| %>
  <% if @index_page.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Create this index page"%>
  </div>
<% end %>
