<%= bootstrap_form_for(@index_page, html: { class: 'form-horizontal' }, help: :block) do |f| %>
  <% if @index_page.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.primary "Create this index page"%>
  </div>
<% end %>
