<% if notice %><div class="alert alert-info"><%= notice %></div><% end %><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @index_page.title %>
</p>

<p>
  <b>Body:</b>
  <%= @index_page.body %>
</p>


<%= link_to 'Edit', edit_index_page_path(@index_page) %> |
<%= link_to 'Back', index_pages_path %>
