<% if notice %><div class="nNote nInformation hideit"><p><%= notice %></p></div><% end %>

<p>
  <b>Title:</b>
  <%= @index_page.title %>
</p>

<p>
  <b>Body:</b>
  <%= @index_page.body %>
</p>

<div class="submitForm">
	<%= link_to 'Edit', edit_index_page_path(@index_page) %> |
	<%= link_to 'Back', index_pages_path %>
</div>