<%= brain_form_for(@download) do |f| %>
  	<% if @download.errors.any? %>
	  <div class="nNote nFailure hideit">
		  	<% @download.errors.full_messages.each do |msg| %>
		    <p><%= msg %></p>
		  	<% end %>
	  </div>
	<%end%>>

    <%= f.text_field :url %>
    <%= f.text_field :name %>
    <%= f.submit "Download this file" %>
<% end %>
