<% if notice %><div class="alert alert-info"><%= notice %></div><% end %><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @download.url %>
</p>

<p>
  <b>Name:</b>
  <%= @download.name %>
</p>

<p>
  <b>User:</b>
  <%= @download.user.nickname %>
</p>

<%= link_to 'Back', downloads_path , :class => "btn btn-primary"%>
