<%= bootstrap_form_for(@article, html: { class: 'form-horizontal' }, help: :block) do |f| %>
  <% if @article.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.primary "Create the article"%>
  </div>
<% end %>
