<%= brain_form_for(@user, builder: BrainFormBuilder) do |f| %>

      <%= f.text_field :nickname %>
      <%= f.text_field :email%>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.password_field :desired_ftp_pass %>

    <% if current_user && current_user.admin %>
        <%= f.check_box :admin %>
        <%= f.check_box :paying %>
    <%end%>

    <div class="rowElem">
      <label>Enter the captcha</label>
      <div class="formRight">
        <%= show_simple_captcha %>
      </div>
    </div>

    <%= f.submit "Create your account"%>
<% end %>
