<%= bootstrap_form_for(@video, html: { class: 'form-horizontal' }, help: :block) do |f| %>
  <% if @video.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.select(:name, @files) %>
  </div>
  <div class="field">
    <%= f.collection_select(:playlist_id, Playlist.where(:user_id => current_user), :id, :title)%>
  </div>
  <div class="form-actions">
    <%= f.primary "Add a video"%>
  </div>
<% end %>
