<%content_for :page_title do%>
  - Your videos
<%end%>
<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">Users</h5>
    </div>
    <table class="tableStatic" width="100%">
      <tr>
        <th width="70%">Name</th>
        <th width="10%"></th>
        <th width="10%"></th>
        <th width="10%"></th>
      </tr>

    <% @videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <td><%= link_to 'Show', video %></td>
          <td><%= link_to 'Edit', edit_video_path(video) %></td>
          <td><%= button_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, :class => "redBtn" %></td>
        </tr>
    <% end %>
    </table>

    <br />
  <%= link_to 'New Video', new_video_path %>
</div>
</fieldset>
