<% if notice %><div class="alert alert-info"><%= notice %></div><% end %><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @video.name %>
</p>


<%= link_to 'Edit', edit_video_path(@video), :class => "btn btn-primary" %> |
<%= link_to 'Back', videos_path, :class => "btn btn-primary" %>
