<%= brain_form_for(@emitter) do |f| %>
    <% if @emitter.errors.any? %>
    <div class="nNote nFailure hideit">
        <% @emitter.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
    </div>
  <%end%>

    <%= f.text_field :title %>
    <%= f.collection_select(:provider_id, Provider.all, :id, :name)%>
    <%= f.text_field :live_key %>
    <%= f.submit "Create this emitter"%>
<% end %>
