<%= bootstrap_form_for(@emitter, html: { class: 'form-horizontal' }, help: :block) do |f| %>
  <% if @emitter.errors.any? %>
    <%= f.alert_message "Please fix the errors below." %>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.collection_select(:provider_id, Provider.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.text_field :live_key %>
  </div>  
  <div class="actions">
    <%= f.primary "Create this provider"%>
  </div>
<% end %>
