<%content_for :page_title do%>
  Your emitters
<%end%>

<table class="tableStatic">
  <tr>
    <th>Title</th>
    <th>Provider</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emitters.each do |emitter| %>
  <tr>
    <td><%= emitter.title %></td>
    <td><%= emitter.provider.name %></td>
    <td><%= emitter.user.nickname %></td>
    <td><%= link_to 'Show', emitter %></td>
    <td><%= link_to 'Edit', edit_emitter_path(emitter) %></td>
    <td><%= link_to 'Destroy', emitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emitter', new_emitter_path , :class => "btn btn-success"%>
