<%content_for :page_title do%>
  Your emitter
<%end%>

<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">Emitter's properties</h5>
    </div>
    <div class="body">
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>

      <p>
        <b>Title:</b>
        <%= @emitter.title %>
      </p>

      <p>
        <b>Provider:</b>
        <%= @emitter.provider.name %>
      </p>

      <p>
        <b>Title:</b>
        <%= link_to @stream_title,@url %>
      </p>

      <p>
        <b>Delay:</b>
        <%= @delay %>
      </p>

      <p><%= link_to "Launch a commercial", run_commercial_emitter_path(@emitter)%></p>
      <br/>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">All your playlists</h5>
    </div>

    <table class="tableStatic" width="100%">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.title %></td>
        <td><%= playlist.description %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= button_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "redBtn" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</fieldset>


<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">All your videos</h5>
    </div>
    <table class="tableStatic" width="100%">
      <tr>
        <th>Name</th>
        <th>Playlist</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <td><%= video.playlist.title %></td>
          <td><%= link_to 'Show', video %></td>
          <td><%= link_to 'Edit', edit_video_path(video) %></td>
          <td><%= button_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, :class => "redBtn" %></td>
        </tr>
    <% end %>
    </table>
  </div>
</fieldset>
<fieldset>
  <div class="widget">
    <div class="head">
      <h5 class="iCoverflow">All your downloads</h5>
    </div>
    <table class="tableStatic" width="100%">
      <tr>
        <th>Url</th>
        <th>Name</th>
        <th>Finished at</th>
        <th></th>
        <th></th>
      </tr>

    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.url %></td>
        <td><%= download.name %></td>
        <td><%= download.finished_at %></td>
        <td><%= link_to 'Show', download %></td>
        <td><%= button_to 'Destroy', download, method: :delete, data: { confirm: 'Are you sure?' }, :class => "redBtn" %></td>
      </tr>
    <% end %>
    </table>
    <br/>
  </div>
</fieldset>
