<h1>Your playlists</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playlists.each do |playlist| %>
  <% if current_user == playlist.user%>
    <tr>
      <td><%= playlist.title %></td>
      <td><%= playlist.description %></td>
      <td><%= link_to 'Show', playlist %></td>
      <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
      <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <%end%>
<% end %>
</table>

<br />

<%= link_to 'New Playlist', new_playlist_path %>
