<% if notice %><div class="alert alert-info"><%= notice %></div><% end %><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @playlist.title %>
</p>

<p>
  <b>Description:</b>
  <%= @playlist.description %>
</p>

<p>
  <b>Videos:</b>
	<table class="table">
		<tr>
			<th>Video's name</th>
			<th>Edit the video</th>
			<th>Delete the video</th>
		</tr>
		<% @playlist.videos.each do |video| %>
		<tr>
			<td><%= link_to video.name, video_path(video) %></td>
			<td><%= link_to "Edit", edit_video_path(video)%></td>
			<td><%= link_to "Delete", video , method: :delete %></td>
		</tr>
		<%end%>
	</table>
</p>
<p>
	You should <%= link_to "add some videos", new_video_path %>
</p>
<% if @playlist.live %>
<%= link_to "Stop the live", stop_live_playlist_path(@playlist) %>
<% else %>
<%= link_to "Start the live", start_live_playlist_path(@playlist) %>
<% end %>
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
