<!DOCTYPE html>
<html>
<head>
  <title>Bytechain</title>
  <%= stylesheet_link_tag    "main.css" %>
  <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.4.1/skin/minimalist.css" />
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
	<!-- Top navigation bar -->
<div id="topNav">
    <div class="fixed">
        <div class="wrapper">
            <% if current_user %>
                <div class="welcome"><%= image_tag "userPic.png"%><span>Welcome <%= link_to current_user.nickname, user_path(current_user)%></span></div>
                <div class="userNav">
                    <ul>
                        <li><%= link_to image_tag("icons/topnav/profile.png") + content_tag(:span, "Account"), edit_user_path(current_user)%></li>
                        <% if current_user.emitter %>
                            <li><%= link_to image_tag("icons/topnav/tasks.png") + content_tag(:span, "Emitter"), edit_emitter_path(current_user.emitter)%></li>
                        <%else%>
                           <li><%= link_to image_tag("icons/topnav/tasks.png") + content_tag(:span, "Emitter"), new_emitter_path %></li> 
                        <%end%>
                        <li><%= link_to image_tag("icons/topnav/logout.png") + content_tag(:span, "Logout"), "/logout" %></li></li>
                    </ul>
                </div>
            <%else%>
                <div class="userNav">
                    <ul>
                        <li><%= link_to image_tag("icons/topnav/register.png") + content_tag(:span, "Register"), new_user_path%></li>
                        <li><%= link_to image_tag("icons/topnav/logout.png") + content_tag(:span, "Login"), "/login" %></li></li>
                    </ul>
                </div>
            <%end%>
        </div>
    </div>
</div>
<!-- Header -->
<div id="header" class="wrapper">
   <br/>
</div>

	<div class="wrapper">
        <% if current_user %>
            <div class="leftNav">
                <ul id="menu">
                    <% if current_user.emitter %>
                    <li class="dash"><%= link_to content_tag(:span, "Dashboard"), emitter_path(current_user.emitter) %></li>
                    <li class="gallery"><a href="#" title="" class="exp"><span>Videos</span></a>
                        <ul class="sub">
                            <li><%= link_to "List", videos_path %></li>
                            <li><%= link_to "Add a video to a playlist", new_video_path  %></li>
                            <li class="last"><%= link_to "Upload a video", new_video_path  %></li>
                        </ul>
                    </li>
                    <li class="pic"><a href="#" title="" class="exp"><span>Playlists</span></a>
                        <ul class="sub">
                            <li><%= link_to "List", playlists_path %></li>
                            <% current_user.playlists.each do |playlist| %>
                                <li><%= link_to playlist.title, playlist_path(playlist) %></li>
                            <%end%>
                            <li class="last"><%= link_to "Create one", new_playlist_path  %></li>
                        </ul>
                    </li>
                    <li class="gallery"><a href="#" title="" class="exp"><span>Downloads</span></a>
                        <ul class="sub">
                            <li><%= link_to "List", downloads_path %></li>
                            <li class="last"><%= link_to "Download a video", new_download_path  %></li>
                        </ul>
                    </li>
                    <% end %>
                    <li class="files"><%= link_to content_tag(:span, "File Manager (soon)"), "#"%></li>
                </ul>
            </div>
        <%end%>
		<div class="content">
            <div class="title">
                <h5>Bytechain <%= yield :page_title %></h5>
            </div>
			<%= yield %>
		</div>
	</div>
	<div id="footer">
        <div class="wrapper">
            <span>This website is the work of Paul Forti, all rights reserved</span>
        </div>
    </div>

    <%= javascript_include_tag "jquery183.min.js"%>
    <%= javascript_include_tag "jqueryui192.min.js"%>
    <%= javascript_include_tag "plugins/flot/jquery.flot.js"%>
    <%= javascript_include_tag "plugins/flot/jquery.flot.orderBars.js"%>
    <%= javascript_include_tag "plugins/flot/jquery.flot.pie.js"%>
    <%= javascript_include_tag "plugins/flot/excanvas.min.js"%>
    <%= javascript_include_tag "plugins/flot/jquery.flot.resize.js"%>

    <%= javascript_include_tag "plugins/tables/jquery.dataTables.js"%>
    <%= javascript_include_tag "plugins/tables/colResizable.min.js"%>

    <%= javascript_include_tag "plugins/forms/forms.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.autosize.js"%>
    <%= javascript_include_tag "plugins/forms/autotab.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.validationEngine-en.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.validationEngine.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.dualListBox.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.select2.min.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.maskedinput.min.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.inputlimiter.min.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.tagsinput.min.js"%>
    <%= javascript_include_tag "plugins/forms/jquery.wysiwyg.js"%>

    <%= javascript_include_tag "plugins/other/calendar.min.js"%>
    <%= javascript_include_tag "plugins/other/elfinder.min.js"%>

    <%= javascript_include_tag "plugins/uploader/plupload.js"%>
    <%= javascript_include_tag "plugins/uploader/plupload.html5.js"%>
    <%= javascript_include_tag "plugins/uploader/plupload.html4.js"%>
    <%= javascript_include_tag "plugins/uploader/jquery.plupload.queue.js"%>

    <%= javascript_include_tag "plugins/ui/jquery.progress.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.jgrowl.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.tipsy.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.alerts.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.colorpicker.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.mousewheel.js"%>

    <%= javascript_include_tag "plugins/wizards/jquery.form.wizard.js"%>
    <%= javascript_include_tag "plugins/wizards/jquery.validate.js"%>

    <%= javascript_include_tag "plugins/ui/jquery.breadcrumbs.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.collapsible.min.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.ToTop.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.listnav.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.sourcerer.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.timeentry.min.js"%>
    <%= javascript_include_tag "plugins/ui/jquery.prettyPhoto.js"%>

    <%= javascript_include_tag "custom.js"%>

    <%= javascript_include_tag "charts/chart.js"%>
    <script src="http://releases.flowplayer.org/5.4.1/flowplayer.min.js"></script>
    
   
</body>
</html>
